// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// $primary: red;

// PIŠEŠ OD TUKAJ
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

$light: #FFEE95;
$secondary: #FDDF46;
$primary: #04286E;
$danger: #FF4676;
$muted: #04286E;
$dark: #080945;

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar {
    border-radius: 10px;
    background-color: $light;
    // background-color: rgba(255, 238, 149, 0.5);

    .container-fluid {
        min-height: 8rem;

        .navbar-brand {
            color: $primary;
            font-size: 2rem;
            
            img {
                height: 8rem;
                width: 8rem;
            }
        }
        .nav-item {
            font-size: 1.2rem;
        }

        .nav-item .active{
            color: dark;
            font-weight: 700;
        }
        .nav-link {
            color: $primary;
            white-space: nowrap;
            
            span {
                margin: auto;
                border-radius: 30%;
                // height: 2rem;
                padding: 0 0.7rem;
                // width: 2rem;
                // background-color: $secondary;
                border: 1px solid $primary;
                display: none;
                justify-content: center;
                align-items: center;

                b {
                    font-weight: 500;
                }
            }
        }

        .navbar-toggler {
            background-color: $secondary;
        }

        form {
            .btn {
                
                &:hover {
                    color: $secondary;
                }
            }
        }
    }

}

#naslovnaSlike {

}


#najboljProdajano {
    .najboljProdajanoNaslov {
        margin-top: 20px;
        height: 90px;
        display: flex;
        align-items: center;

        h2 {
            color: $primary;
        }
    }
    .card {
        margin:auto;
        border: 1px solid $primary;
        width: 18rem;
        height: 30rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 0.3fr repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr) 0.7fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 2rem;
        background-color: rgba(360,360,360,0.4);
        .aimg {
            grid-area: 1 / 1 / 5 / 6;
            padding: 0.5rem;
            
            img {
                object-fit: contain;
                max-height: 100%;
                max-width: 100%;

            }
        }
        .card-titl {
            padding:0.5rem;
            grid-area: 5 / 1 / 6 / 6;
        }
        .card-tex {
            padding:0.5rem;
            grid-area: 6 / 1 / 8 / 6;
            text-overflow: ellipsis;
            // white-space: nowrap;
            overflow: hidden;
        }
        .cardCena {
            padding:0.5rem;
            grid-area: 8 / 1 / 9 / 6;
        }
        .cardPoglej {
            margin: 0.5rem;
            grid-area: 9 / 1 / 10 / 3;
        }
        .cardVKosarico {
            margin: 0.5rem;
            grid-area: 9 / 4 / 10 / 6;
        }
        .card-text {

        }
    }
}

#zadnjiClanki {
    .zadnjiClankiNaslov {
        margin: 20px 0;
        height: 90px;
        display: flex;
        align-items: center;

        h2 {
            color: $primary;
        }
    }
    #zadnjiClanki2 {
        .card {
            margin:auto;
            border: 1px solid $primary;
            width: 18rem;
            height: 30rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr) 0.3fr repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr) 0.7fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 2rem;
            background-color: rgba(360,360,360,0.4);
            .aimg {
                grid-area: 1 / 1 / 5 / 6;
                padding: 0.5rem;
                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%; 
                }
            }
            .card-titl {
                padding:0.5rem;
                grid-area: 5 / 1 / 6 / 6;
                font-weight: 500;
            }
            .card-tex {
                padding:0.5rem;
                grid-area: 6 / 1 / 9 / 6;
                text-overflow: ellipsis;
                // white-space: nowrap;
                overflow: hidden;
            }
            .cardPoglej {
                margin: 0.5rem;
                grid-area: 9 / 1 / 10 / 6;
                background-color: $light;
                font-weight: 600;
                color: $primary;

                &:hover {
                    background-color: $secondary;
                }
            }
        }
    }
}

#oTrgovini {
    h2 {
        color: $primary;
    }
    .okvir {
        margin: 1.1rem 0;
        background-color: rgba(360,360,360,0.4);
        padding: 2rem;
        border-radius: 0.2rem;
    }
    .podatkiInLokacija {
        h3 {
            margin-top: 1.5rem;
        }
        p {
            margin: 0.5rem 0;
        }
        iframe {
            margin-top: 1rem;
        }
    }
}

#izdelki {
    .katogorije {
        // background-color: #FFCA67;
        background-color: rgba(253, 223, 70, 0.5);

        display: flex;
        color: $primary;
        padding: 0.5rem 1rem;
        
        h4 {
            padding-right: 1rem;
            margin: 0;
        }

        .dropdown {
            .dropdown-menu {
                background-color: $light;
                li {
                    button {
                        &:hover {
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
    }
    #seznamIzdelkov {
    }
    .card {
        margin:auto;
        border: 1px solid $primary;
        width: 18rem;
        height: 30rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 0.3fr repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr) 0.7fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 2rem;
        background-color: rgba(360,360,360,0.4);
        
        .aimg {
            grid-area: 1 / 1 / 5 / 6;
            padding: 0.5rem;
            img {
                object-fit: contain;
                max-height: 100%;
                max-width: 100%;
            }
        }
        .card-titl {
            padding:0.5rem;
            grid-area: 5 / 1 / 6 / 6;
        }
        .card-tex {
            padding:0.5rem;
            grid-area: 6 / 1 / 8 / 6;
            text-overflow: ellipsis;
            // white-space: nowrap;
            overflow: hidden;
        }
        .cardCena {
            padding:0.5rem;
            grid-area: 8 / 1 / 9 / 6;
        }
        .cardPoglej {
            margin: 0.5rem;
            grid-area: 9 / 1 / 10 / 3;
        }
        .cardVKosarico {
            margin: 0.5rem;
            grid-area: 9 / 4 / 10 / 6;
        }
    
        .card-text {

        }
    }
}

#izdelek {
    .izdelekIme {
        background-color: rgba(253, 223, 70, 0.5);
        padding: 2rem 0 1rem 0.5rem;
        color: $primary;
    }
    .izdelekOpis {
        // width: 100%;
        margin: 0;
        background-color: rgba(255, 238, 149, 0.5);
        .izdelekSlika {
            padding: 2rem;
            img {
                
            }
        }
        .izdelekContent {
            padding: 2rem 1rem 0.5rem;
        }
    }
    .izdelekKosarica {
        background-color: rgba(253, 223, 70, 0.5);
        padding: 1rem 1rem 2rem;
        button {
            
        }
    }
}

#blogMain {
    h2 {
        background-color: rgba(253, 223, 70, 0.5);
        padding: 0.5rem 1rem;
        color: $primary;
    }
    #blog {
        .card {
            margin:auto;
            border: 1px solid $primary;
            width: 18rem;
            height: 30rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr) 0.3fr repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr) 0.7fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 2rem;
            background-color: rgba(360,360,360,0.4);
            .aimg {
                grid-area: 1 / 1 / 5 / 6;
                padding: 0.5rem;
                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .card-titl {
                padding:0.5rem;
                grid-area: 5 / 1 / 6 / 6;
                font-weight: 500;
            }
            .card-tex {
                padding:0.5rem;
                grid-area: 6 / 1 / 9 / 6;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .cardPoglej {
                margin: 0.5rem;
                grid-area: 9 / 1 / 10 / 6;
                background-color: $light;
                font-weight: 600;
                color: $primary;

                &:hover {
                    background-color: $secondary;
                }
            }
        }
    }
}

#article {
    h2 {
        background-color: rgba(253, 223, 70, 0.5);
        padding: 0.5rem 1rem;
        color: $primary;
    }
    .clanekOpis {
        margin: 1.1rem 0;
        background-color: rgba(360,360,360,0.4);
        border-radius: 0.2rem;

        .clanekSlika {
            padding: 1rem;
        }
        .clanekContent {
            padding: 1rem;
        }
    }
    .nazajNaBlog {
        background-color: rgba(253, 223, 70, 0.5);
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        color: $primary;
    }
}


#kosarica {
    h2, h3 {
        color: $primary;
    }
    .kosarica-izdelki {
        background-color: rgba(360,360,360,0.4);
        padding: 2rem;

        .kolicina {
            min-width: 3rem;
        }

        .gumbOdstrani {
            &:hover {
                fill: red;
            }
        }
    }
    .kosarica-summary {
        background-color: rgba(360,360,360,0.5);
    }  
}

#iskanje {
    h2 {
        background-color: rgba(253, 223, 70, 0.5);
        padding: 0.5rem 1rem;
        color: $primary;
    }
    .zadetkiProducts {
        .card {
            margin:auto;
            border: 1px solid $primary;
            width: 18rem;
            height: 30rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr) 0.3fr repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr) 0.7fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 2rem;
            background-color: rgba(360,360,360,0.4);
            .aimg {
                grid-area: 1 / 1 / 5 / 6;
                padding: 0.5rem;
                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .card-titl {
                padding:0.5rem;
                grid-area: 5 / 1 / 6 / 6;
            }
            .card-tex {
                padding:0.5rem;
                grid-area: 6 / 1 / 8 / 6;
                text-overflow: ellipsis;
                // white-space: nowrap;
                overflow: hidden;
            }
            .cardCena {
                padding:0.5rem;
                grid-area: 8 / 1 / 9 / 6;
            }
            .cardPoglej {
                margin: 0.5rem;
                grid-area: 9 / 1 / 10 / 3;
            }
            .cardVKosarico {
                margin: 0.5rem;
                grid-area: 9 / 4 / 10 / 6;
            }
        
            .card-text {
    
            }
        }
    }
    .zadetkiArticles {
        .card {
            margin:auto;
            border: 1px solid $primary;
            width: 18rem;
            height: 30rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr) 0.3fr repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr) 0.3fr repeat(3, 1fr) 0.7fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-bottom: 2rem;
            background-color: rgba(360,360,360,0.4);
            .aimg {
                grid-area: 1 / 1 / 5 / 6;
                padding: 0.5rem;
                img {
                    object-fit: contain;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .card-titl {
                padding:0.5rem;
                grid-area: 5 / 1 / 6 / 6;
                font-weight: 500;
            }
            .card-tex {
                padding:0.5rem;
                grid-area: 6 / 1 / 9 / 6;
                text-overflow: ellipsis;
                // white-space: nowrap;
                overflow: hidden;
            }
            .cardPoglej {
                margin: 0.5rem;
                grid-area: 9 / 1 / 10 / 6;
                background-color: $light;
                font-weight: 600;
                color: $primary;

                &:hover {
                    background-color: $secondary;
                }
            }
        }
    }
}

#kontakt {
    color: $primary;

    h2 {
        background-color: rgba(253, 223, 70, 0.5);
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }
    .moznostKontakta {
        background-color: rgba(360,360,360,0.4);
        padding: 1.3rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        
        p {
            margin: 0;
        }
    }

    .naslov {
        background-color: rgba(360,360,360,0.4);
        padding: 1.3rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        
        p {
            margin: 0;
        }
    }
    
    .k-form {
        background-color: rgba(360,360,360,0.4);
        padding: 1.3rem;

        form {
            max-width: 700px;
            margin: auto;

            .form-group {
                margin-top: 1rem;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                }

                input, textarea {
                    background-color: rgba(253, 223, 70, 0.4);
                    font-size: 1.2rem;
                    border: 1px solid $light;
                    
                    &::placeholder {
                        color: #898989;
                    }
                    &:focus {
                        background-color: rgba(360,360,360,0.2);
                        border: 2px solid $secondary;
                        box-shadow: none;
                    }
                }
            }

            button {
                padding: 0.5rem 2rem;
                margin: 1.5rem 0;
                color: $secondary;
                font-weight: 500;

                &:hover {
                    background-color: $secondary;
                    color: $primary;
                }
            }
        }
    }
}

footer {
    // background-color: #000000;
    // opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.2);

    // padding: 20px;
    color: $secondary;
    ul {
        padding-left: 20rem;
        a {
            color: $light;
            text-decoration: none;
            padding-left: 0.5rem;
    
            &:hover {
                color: $secondary;
            }
        }
    }
}

// DO TUKAJ!
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
 