// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// $primary: red;

// PIŠEŠ OD TUKAJ

$primary: #A2B5BB;
$secondary: #CFD2CF;
$danger: #EB1D36;
$light: #F5EDDC;
$dark: #333;
$muted: #666;


// DO TUKAJ!
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
 